﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosy đếm điều ngọt ngào từ bạn</title>
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/style.css?ts=@DateTime.Now.Ticks">
    <script src="//code.createjs.com/easeljs-0.7.1.min.js"></script>
    <script src="//code.createjs.com/tweenjs-0.5.1.min.js"></script>
    <script src="//code.createjs.com/movieclip-0.7.1.min.js"></script>
    <script src="//code.createjs.com/preloadjs-0.4.1.min.js"></script>
    <script src="//code.createjs.com/soundjs-0.5.2.min.js"></script>
    <script src="~/Scripts/app/video.js"></script>
    <script>
        function initPreloadVideoResources() {
            var loader = new createjs.LoadQueue(false);
            loader.addEventListener("fileload", handleFileLoad);
            loader.addEventListener("complete", handleComplete);
            loader.loadManifest(lib.properties.manifest);
        }

        function handleFileLoad(evt) {
            //console.log('file load ' + evt.item.id);
        }

        function handleComplete() {
            //console.log('manifest load complete');
        }
    </script>
    <style type="text/css">
        .loading-img {
            display: none;
            clip-path: url('#loadingSvg');
            -webkit-clip-path: polygon(50% 0, 51% 0, 50%, 50%);
            -moz-clip-path: polygon(50% 0, 50% 0, 50%, 50%);
            -ms-clip-path: polygon(50% 0, 50% 0, 50%, 50%);
            -o-clip-path: polygon(50% 0, 50% 0, 50%, 50%);
        }
    </style>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-85974113-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    <div class="container">
        <div class="block-video-loading">
            <video autoplay loop id="cosy-mv" class="block-video-loading" width="560" height="315" poster="~/Content/images/video-poster-1.png">
                <source src="https://dl.dropboxusercontent.com/u/53490542/cosymv.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="block-loading">
            <div class="pie-load loading" style="width: 225px; height: 204px">
                <img class="loading-img" src="~/Content/images/marie.png" style="width: 100%; height: 100%">
                <svg>
                    <defs>
                        <clipPath clipPathUnits="objectBoundingBox" id="loadingSvg">
                            <polygon points="0.5 0, 0.5 0, 0.5 0.5"></polygon>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <span class="number-load">0%</span>
            <div id="progressbar" style="display: none">
                <div class="progress-label">Loading...</div>
            </div>
        </div>
        <div class="number-load-text">
            Vui lòng chờ, kết quả đang được tải lên
        </div>
    </div>
    <input type="hidden" id="hidAccessToken" value="@ViewBag.AccessToken" />
    <input type="hidden" id="hidProfileId" value="@ViewBag.ProfileId" />
    <input type="hidden" id="hidUserName" value="@ViewBag.UserName" />
    <input type="hidden" id="hidEmail" value="@ViewBag.Email" />
    <script type="text/javascript">
        "user strict";
        function handleResize() {
            var zoom_class = document.getElementsByClassName('zoom');
            var w = window.innerWidth;
            for (var i = 0; i < zoom_class.length; i++) {
                zoom_class[i].style.zoom = w / 1920;
            }
        }

        window.addEventListener("resize", handleResize);
        handleResize();
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/app/clip-path-polygon.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app/cosy-game-home.js"></script>
</body>
</html>