﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>MV Video Loading</title>
</head>

<body>
    <video id="cosy-mv" width="640" height="480">
        <source src="https://drive.google.com/uc?export=download&id=0BzaukW2yZ9cXVk1kQnRzdDY2VkE" type="video/mp4" />
    </video>
    <script>
        var myVideo = document.getElementById("cosy-mv");
        myVideo.play();
    </script>
</body>
</html>