﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>Cosy đếm điều ngọt ngào từ bạn</title>
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/video-result-ch-ff-v1.css?ts=@DateTime.Now.Ticks">
    <script src="//code.createjs.com/createjs-2015.11.26.min.js"></script>
    <script src="~/Scripts/app/video-noframe.js"></script>
    <script src="~/Content/user_data/@ViewBag.UserProfileId/lib-properties.js"></script>
    <script>
        var canvas, stage, exportRoot;

        function init() {
            createjs.MotionGuidePlugin.install();

            canvas = document.getElementById("canvas");
            images = images || {};

            var loader = new createjs.LoadQueue(false);
            loader.installPlugin(createjs.Sound);
            loader.addEventListener("fileload", handleFileLoad);
            loader.addEventListener("complete", handleComplete);
            loader.loadManifest(lib.properties.manifest);
        }

        function handleFileLoad(evt) {
            if (evt.item.type == "image") {
                images[evt.item.id] = evt.result;
            }
        }

        function handleComplete() {
            exportRoot = new lib.Video_1184x664_noFrame();

            stage = new createjs.Stage(canvas);
            stage.addChild(exportRoot);
            stage.update();

            createjs.Ticker.setFPS(lib.properties.fps);
            createjs.Ticker.addEventListener("tick", stage);
        }

        function playSound(id, loop) {
            createjs.Sound.play(id, createjs.Sound.INTERRUPT_EARLY, 0, 0, loop);
        }
    </script>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-85974113-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.FbAppId',
                xfbml: true,
                version: 'v2.7'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="box" class="box">
        <div id="video" class="video">
            <div class="hello-cosy">
                Xin chào,<br/>
                <span id="linkUserName" class="bold">User</span>
            </div>
            <a class="btn-zoom" href="#">
                <img src="~/Content/images/icon-zoom.png" alt="">
            </a>
            <canvas id="canvas" style="background-color: #F9F3DE;" width="1180" height="664"></canvas>
        </div>
        <a class="btn-play-again" href="#">
            <img id="imgPlayAgain" src="~/Content/images/btn-choilai.png" alt="">
        </a>
        <a class="btn-share-fb" href="#">
            <img id="imgShareResult" src="~/Content/images/btn-chiasefb.png" alt="">
        </a>
        <div id="bg-bottom">
            <img src="~/Content/images/cosy-wooden.png">
        </div>
    </div>
    <div class="info-message">Vui lòng xoay màn hình của bạn theo chiều ngang để xem video tốt hơn</div>
    <input type="hidden" id="hidShareUrl" value="@ViewBag.ShareUrl" />
    <input type="hidden" id="hidProfileId" value="" />
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/app/cosy-game-result.js"></script>
</body>
</html>