﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Không nghi ngờ gì! @ViewBag.PlayerFullName là ứng cử viên sáng giá cho thành tựu trọn đời “sống tích cực, tỏa niềm vui”. Đếm điều ngọt ngào của bạn ngay!</title>
    <meta name="description" content="Thế giới này cần thêm những người như @ViewBag.PlayerFullName lắm! Vì sao? Vì chính tinh thần “sống để vui, vui để sống” của bạn. Bạn có phải là một trong số đó? Khám phá ngay!" />
    <meta name="keywords" content="top ten vietnam,food,retail,property,finance,kinh do,cake,candy,moon-cake,milk,thực phẩm,bán lẻ,địa ốc,tài chính,bánh,kẹo,trung thu,sữa,thuc pham,ban le, dia oc,tai chinh,banh,keo,trung thu,sua,cao ốc,cao oc,văn phòng,van phong,bakery,kinh đô, kinh do,công ty kinh đô,cong ty kinh do,k,king do,vietnam value,thuong hieu viet,thương hiệu việt,banh kinh do,keo kinh do, banh,keo,banh bo, bánh bơ, cookie, banh quy, biscuit, banh man, bánh mặn, cracker, banh que, bánh quế, wafer, snack, rau cau, rau câu, jell " />
    <meta name="author" content="Circus Digital">
    <meta property="fb:app_id" content="1799051727048491" />
    <meta property="og:title" content="Không nghi ngờ gì! @ViewBag.PlayerFullName là ứng cử viên sáng giá cho thành tựu trọn đời “sống tích cực, tỏa niềm vui”. Đếm điều ngọt ngào của bạn ngay!" />
    <meta property="og:description" content="Thế giới này cần thêm những người như @ViewBag.PlayerFullName lắm! Vì sao? Vì chính tinh thần “sống để vui, vui để sống” của bạn. Bạn có phải là một trong số đó? Khám phá ngay!" />
    <meta property="og:url" content="@ViewBag.VideoSharingUrl" />
    <meta property="og:image" content="@ViewBag.OgImageUrl" />
    <meta property="og:image:secure_url" content="@ViewBag.SecureOgImageUrl" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="629" />
    <script src="//code.createjs.com/easeljs-0.7.1.min.js"></script>
    <script src="//code.createjs.com/tweenjs-0.5.1.min.js"></script>
    <script src="//code.createjs.com/movieclip-0.7.1.min.js"></script>
    <script src="//code.createjs.com/preloadjs-0.4.1.min.js"></script>
    <script src="//code.createjs.com/soundjs-0.5.2.min.js"></script>
    <script src="~/Scripts/app/video-noframe.js"></script>
    <script src="~/Content/user_data/@Request.QueryString["fbid"]/lib-properties.js"></script>
    <script>
        var canvas, stage, exportRoot;

        function init() {
            createjs.MotionGuidePlugin.install();

            canvas = document.getElementById("canvas");
            images = images || {};

            var loader = new createjs.LoadQueue(false);
            loader.installPlugin(createjs.Sound);
            loader.addEventListener("fileload", handleFileLoad);
            loader.addEventListener("complete", handleComplete);
            loader.loadManifest(lib.properties.manifest);
        }

        function handleFileLoad(evt) {
            if (evt.item.type == "image") {
                images[evt.item.id] = evt.result;
            }
        }

        function handleComplete() {
            exportRoot = new lib.Video_1184x664_noFrame();

            stage = new createjs.Stage(canvas);
            stage.addChild(exportRoot);
            stage.update();

            createjs.Ticker.setFPS(lib.properties.fps);
            createjs.Ticker.addEventListener("tick", stage);
        }

        function playSound(id, loop) {
            createjs.Sound.play(id, createjs.Sound.INTERRUPT_EARLY, 0, 0, loop);
        }
    </script>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-85974113-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body onload="init();" style="background-color:#D4D4D4">
    <canvas id="canvas" width="1180" height="664" style="background-color:#F9F3DE"></canvas>
</body>
</html>