﻿@model KinhDo.CosyPhotoGame.Web.Models.FacebookProfileViewModel
@{
    ViewBag.Title = "External Login OK";
}


<p>Name : @Model.Fullname</p>
<p>
    <img src="@Model.ImageURL"/>
</p>
<p>
    Email: @Model.email
</p>
<p>
    DOB: @Model.birthdate
</p>