﻿@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/Elle Futura-Medium.eot");
  src: url("../fonts/Elle Futura-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Elle Futura-Medium.woff") format("woff"),
  url("../fonts/Elle Futura-Medium.ttf") format("truetype"),
  url("../fonts/Elle Futura-Medium.svg#Futura-Medium") format("svg");
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
html {
  background: url(../Content/images/bg-home.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Helvetica', Arial;
}
.container {
  position: relative;
}
.bg-play {
  width: 1920px;
}
.cosy,
.pie-left,
.girl-right {
  position: fixed;
  z-index: 1;
}
.cosy {
  text-align: center;
  zoom: 0.7;
  margin-top: 5%;
  position: relative;
  margin-bottom: 20px;
}
.pie-left {
  left: 0;
  bottom: 0;
}
.girl-right {
  right: 0;
  bottom: -72px;
  zoom: 0.5;
}
.bg-home {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.block-content {
  position: absolute;
  left: 0;
  right: 0;
  /*bottom: 0;*/
  width: 450px;
  z-index: 10;
  color: #fa551e;
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  zoom: 0.8;
}
.block-content .btn {
  margin-top: 35px;
  display: block;
}
.block-content p {
  margin: 10px 0;
}
.block-loading {
  margin: 0 auto;
  margin-top: 25px;
  width: 250px;
  text-align: center;
  z-index: 100;
  font-family: 'Futura-Medium';
}
.number-load {
  /*color: #d20000;*/
  color: #BE744C;
  font-size: 37px;
  display: inline-block;
}
.number-load-text {
    width: 100%;
    text-align: center;
    /*color: #d20000;*/
    color: #BE744C;
    font-size: 20px;
    display: inline-block;
    font-family: 'Futura-Medium';
    font-style: italic;
}
/*// play*/
.play {
  height: 1080px;
  width: 1920px;
  position: relative;
}
.btn-user,
.btn-choilai,
.btn-chiasefb {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  color: #fff;
  z-index: 100;
}
.btn-choilai,
.btn-chiasefb {
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 auto;
  width: 270px;
  height: 100px;
  display: inline-block;
}
.btn-choilai img {
  transform: translate(-110px);
}
.btn-chiasefb img {
  transform: translate(180px);
}
.block-video {
  margin: 0 auto;
  width: 1180px;
  height: 664px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 253px;
}
.block-video::before,
.block-video::after {
  content: "";
  background: url('../Content/images/bg-video-top.png') left top no-repeat;
  width: 430px;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.block-video::before {
  background: url('../Content/images/bg-video.png') left top no-repeat;
  width: 85px;
  height: 96px;
  left: 0;
  top: auto;
  bottom: 0;
}
.btn-user {
  font-size: 32px;
  font-weight: bold;
  top: -60px;
  left: 90px;
  font-family: 'MyriadPro-Regular';
}
.btn-zoom {
  position: absolute;
  right: 23px;
  top: 23px;
}

.block-video-loading {
    margin: 0 auto;
    width: 560px;
    height: 315px;
    margin-top: 25px;
}

/*/ pie-load /*/
.pie-load .pie-load-top {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    animation-name: pie-load-top;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: translate(-20px);
    width: 225px;
    height: 204px;
}
@keyframes pie-load-top {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.pie-load {
    height: 200px;
}

.pie-load .pie-load-left {
  float: left;
  margin-right: -20px;
  position: relative;
  z-index: 10;
}
.pie-load .pie-load-left,
.pie-load .pie-load-right {
  transform-origin: bottom right;
  animation-name: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.pie-load .pie-load-right {
  float: left;
  position: relative;
  z-index: 9;
  animation-name: load-right;
  transform-origin: bottom left;
}
@keyframes load-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* progress bar */
.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

video.background {
    background: black;
}

/*iPhone 5 & 5S in portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {

    .block-video-loading {
        margin: 0 auto;
        width: 300px;
        height: 168px;
        margin-top: 5px;
    }

    .pie-load .pie-load-top {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        animation-name: pie-load-top;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform: translate(-20px);
        width: 150px;
        height: 136px;
    }

    .pie-load {
        height: 136px;
    }
}

/*iPhone 5 & 5S in landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {

    .block-video-loading {
        margin: 0 auto;
        width: 300px;
        height: 168px;
        margin-top: 5px;
    }

    .block-loading {
        margin: 0 auto;
        margin-top: 25px;
        width: 100px;
        text-align: center;
        z-index: 100;
        font-family: 'Futura-Medium';
    }

    .pie-load .pie-load-top {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        animation-name: pie-load-top;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform: translate(-20px);
        width: 70px;
        height: 63px;
    }

    .pie-load {
        height: 70px;
    }

    .number-load {
        color: #BE744C;
        font-size: 20px;
        display: inline-block;
    }

    .number-load-text {
        width: 100%;
        text-align: center;
        color: #BE744C;
        font-size: 12px;
        display: inline-block;
        font-family: 'Futura-Medium';
        font-style: italic;
    }
}

/*iPhone 6 in portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {

    .block-video-loading {
        margin: 0 auto;
        width: 300px;
        height: 168px;
        margin-top: 5px;
    }

    .pie-load .pie-load-top {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        animation-name: pie-load-top;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform: translate(-20px);
        width: 150px;
        height: 136px;
    }

    .pie-load {
        height: 136px;
    }
}

/*ip6-landscape*/
@media only screen 
and (min-device-width : 569px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    .block-video-loading {
        margin: 0 auto;
        width: 300px;
        height: 168px;
        margin-top: 5px;
    }

    .block-loading {
        margin: 0 auto;
        margin-top: 25px;
        width: 100px;
        text-align: center;
        z-index: 100;
        font-family: 'Futura-Medium';
    }

    .pie-load .pie-load-top {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        animation-name: pie-load-top;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform: translate(-20px);
        width: 70px;
        height: 63px;
    }

    .pie-load {
        height: 70px;
    }

    .number-load {
        color: #BE744C;
        font-size: 20px;
        display: inline-block;
    }

    .number-load-text {
        width: 100%;
        text-align: center;
        color: #BE744C;
        font-size: 12px;
        display: inline-block;
        font-family: 'Futura-Medium';
        font-style: italic;
    }
}

/*iPhone 6 Plus in portrait*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {

    .block-video-loading {
        margin: 0 auto;
        width: 300px;
        height: 168px;
        margin-top: 5px;
    }

    .pie-load .pie-load-top {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        animation-name: pie-load-top;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform: translate(-20px);
        width: 150px;
        height: 136px;
    }

    .pie-load {
        height: 136px;
    }
}

/*ip6 plus-landscape*/
@media only screen 
and (min-device-width : 668px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    .block-video-loading {
        margin: 0 auto;
        width: 300px;
        height: 168px;
        margin-top: 5px;
    }

    .block-loading {
        margin: 0 auto;
        margin-top: 25px;
        width: 100px;
        text-align: center;
        z-index: 100;
        font-family: 'Futura-Medium';
    }

    .pie-load .pie-load-top {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        animation-name: pie-load-top;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform: translate(-20px);
        width: 70px;
        height: 63px;
    }

    .pie-load {
        height: 70px;
    }

    .number-load {
        color: #BE744C;
        font-size: 20px;
        display: inline-block;
    }

    .number-load-text {
        width: 100%;
        text-align: center;
        color: #BE744C;
        font-size: 12px;
        display: inline-block;
        font-family: 'Futura-Medium';
        font-style: italic;
    }
}