﻿@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/Elle Futura-Medium.eot");
  src: url("../fonts/Elle Futura-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Elle Futura-Medium.woff") format("woff"),
  url("../fonts/Elle Futura-Medium.ttf") format("truetype"),
  url("../fonts/Elle Futura-Medium.svg#Futura-Medium") format("svg");
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html {
  background: url(../Content/images/bg-home.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Helvetica', Arial;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.zoom {
  -webkit-transform: scale(0.5);
  -moz-transform:    scale(0.5);
  -ms-transform:     scale(0.5);
  -o-transform:      scale(0.5);
  transform: scale(0.5);
}
.container {
  position: relative;
}
.bg-play {
  width: 1920px;
}
.cosy,
.pie-left,
.girl-right {
  position: fixed;
  z-index: 1;
}
.cosy {
  text-align: center;
  zoom: 0.7;
  margin-top: 5%;
  position: relative;
  margin-bottom: 20px;
}
.cosy img {
  width: 40%;
}
.pie-left {
  left: -120px;
  bottom: -90px;
}
.girl-right {
  right: -182px;
  bottom: -193px;
  -webkit-transform: scale(0.5);
  -moz-transform:    scale(0.5);
  -ms-transform:     scale(0.5);
  -o-transform:      scale(0.5);
  transform: scale(0.5);
}
.bg-home {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.block-content {
  width: 450px;
  z-index: 10;
  color: #fa551e;
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  zoom: 0.8;
}
.btn-discovery {
  display: block;
  position: absolute;
  bottom: -90px;
  left: 50%;
  margin-left: -150px;
  z-index: 100;
}
.block-content p {
  margin: 10px 0;
}
.block-loading {
  margin: 0 auto;
  margin-top: 5%;
  width: 250px;
  text-align: center;
  z-index: 100;
  font-family: 'Futura-Medium';
}
.number-load {
  color: #d20000;
  font-size: 37px;
  display: inline-block;
}