.loading-1 {
  -webkit-clip-path: polygon(50% 0, 8.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 8.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 8.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 8.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 8.33333% 0, 50% 50%); }

.loading-2 {
  -webkit-clip-path: polygon(50% 0, 16.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 16.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 16.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 16.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 16.66667% 0, 50% 50%); }

.loading-3 {
  -webkit-clip-path: polygon(50% 0, 25% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 25% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 25% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 25% 0, 50% 50%);
  clip-path: polygon(50% 0, 25% 0, 50% 50%); }

.loading-4 {
  -webkit-clip-path: polygon(50% 0, 33.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 33.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 33.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 33.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 33.33333% 0, 50% 50%); }

.loading-5 {
  -webkit-clip-path: polygon(50% 0, 41.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 41.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 41.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 41.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 41.66667% 0, 50% 50%); }

.loading-6 {
  -webkit-clip-path: polygon(50% 0, 50% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 50% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 50% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 50% 0, 50% 50%);
  clip-path: polygon(50% 0, 50% 0, 50% 50%); }

.loading-7 {
  -webkit-clip-path: polygon(50% 0, 58.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 58.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 58.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 58.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 58.33333% 0, 50% 50%); }

.loading-8 {
  -webkit-clip-path: polygon(50% 0, 66.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 66.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 66.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 66.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 66.66667% 0, 50% 50%); }

.loading-9 {
  -webkit-clip-path: polygon(50% 0, 75% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 75% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 75% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 75% 0, 50% 50%);
  clip-path: polygon(50% 0, 75% 0, 50% 50%); }

.loading-10 {
  -webkit-clip-path: polygon(50% 0, 83.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 83.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 83.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 83.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 83.33333% 0, 50% 50%); }

.loading-11 {
  -webkit-clip-path: polygon(50% 0, 91.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 91.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 91.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 91.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 91.66667% 0, 50% 50%); }

.loading-12 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 50% 50%); }

.loading-13 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 0%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 0%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 0%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 0%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 0%, 50% 50%); }

.loading-14 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 4.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 4.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 4.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 4.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 4.16667%, 50% 50%); }

.loading-15 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 8.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 8.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 8.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 8.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 8.33333%, 50% 50%); }

.loading-16 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 12.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 12.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 12.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 12.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 12.5%, 50% 50%); }

.loading-17 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 16.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 16.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 16.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 16.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 16.66667%, 50% 50%); }

.loading-18 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 20.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 20.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 20.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 20.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 20.83333%, 50% 50%); }

.loading-19 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 25%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 25%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 25%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 25%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 25%, 50% 50%); }

.loading-20 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 29.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 29.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 29.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 29.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 29.16667%, 50% 50%); }

.loading-21 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 33.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 33.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 33.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 33.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 33.33333%, 50% 50%); }

.loading-22 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 37.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 37.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 37.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 37.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 37.5%, 50% 50%); }

.loading-23 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 41.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 41.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 41.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 41.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 41.66667%, 50% 50%); }

.loading-24 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 45.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 45.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 45.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 45.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 45.83333%, 50% 50%); }

.loading-25 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%); }

.loading-26 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 54.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 54.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 54.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 54.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 54.16667%, 50% 50%); }

.loading-27 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 58.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 58.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 58.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 58.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 58.33333%, 50% 50%); }

.loading-28 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 62.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 62.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 62.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 62.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 62.5%, 50% 50%); }

.loading-29 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 66.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 66.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 66.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 66.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 66.66667%, 50% 50%); }

.loading-30 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 70.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 70.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 70.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 70.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 70.83333%, 50% 50%); }

.loading-31 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 50%); }

.loading-32 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 79.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 79.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 79.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 79.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 79.16667%, 50% 50%); }

.loading-33 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 83.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 83.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 83.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 83.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 83.33333%, 50% 50%); }

.loading-34 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 87.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 87.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 87.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 87.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 87.5%, 50% 50%); }

.loading-35 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 91.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 91.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 91.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 91.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 91.66667%, 50% 50%); }

.loading-36 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 95.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 95.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 95.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 95.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 95.83333%, 50% 50%); }

.loading-37 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%, 50% 50%); }

.loading-38 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 95.83333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 95.83333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 95.83333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 95.83333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 95.83333% 100%, 50% 50%); }

.loading-39 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 91.66667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 91.66667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 91.66667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 91.66667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 91.66667% 100%, 50% 50%); }

.loading-40 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 87.5% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 87.5% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 87.5% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 87.5% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 87.5% 100%, 50% 50%); }

.loading-41 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 83.33333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 83.33333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 83.33333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 83.33333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 83.33333% 100%, 50% 50%); }

.loading-42 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 79.16667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 79.16667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 79.16667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 79.16667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 79.16667% 100%, 50% 50%); }

.loading-43 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 75% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 75% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 75% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 75% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 75% 100%, 50% 50%); }

.loading-44 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 70.83333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 70.83333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 70.83333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 70.83333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 70.83333% 100%, 50% 50%); }

.loading-45 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 66.66667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 66.66667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 66.66667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 66.66667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 66.66667% 100%, 50% 50%); }

.loading-46 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 62.5% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 62.5% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 62.5% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 62.5% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 62.5% 100%, 50% 50%); }

.loading-47 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 58.33333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 58.33333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 58.33333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 58.33333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 58.33333% 100%, 50% 50%); }

.loading-48 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 54.16667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 54.16667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 54.16667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 54.16667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 54.16667% 100%, 50% 50%); }

.loading-49 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%); }

.loading-50 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 45.83333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 45.83333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 45.83333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 45.83333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 45.83333% 100%, 50% 50%); }

.loading-51 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 41.66667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 41.66667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 41.66667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 41.66667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 41.66667% 100%, 50% 50%); }

.loading-52 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 37.5% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 37.5% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 37.5% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 37.5% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 37.5% 100%, 50% 50%); }

.loading-53 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 33.33333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 33.33333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 33.33333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 33.33333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 33.33333% 100%, 50% 50%); }

.loading-54 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 29.16667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 29.16667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 29.16667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 29.16667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 29.16667% 100%, 50% 50%); }

.loading-55 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%, 50% 50%); }

.loading-56 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 20.83333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 20.83333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 20.83333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 20.83333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 20.83333% 100%, 50% 50%); }

.loading-57 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 16.66667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 16.66667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 16.66667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 16.66667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 16.66667% 100%, 50% 50%); }

.loading-58 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 12.5% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 12.5% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 12.5% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 12.5% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 12.5% 100%, 50% 50%); }

.loading-59 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 8.33333% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 8.33333% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 8.33333% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 8.33333% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 8.33333% 100%, 50% 50%); }

.loading-60 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 4.16667% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 4.16667% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 4.16667% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 4.16667% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 4.16667% 100%, 50% 50%); }

.loading-61 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%, 50% 50%); }

.loading-62 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 50% 50%); }

.loading-63 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 95.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 95.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 95.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 95.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 95.83333%, 50% 50%); }

.loading-64 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 91.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 91.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 91.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 91.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 91.66667%, 50% 50%); }

.loading-65 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 87.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 87.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 87.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 87.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 87.5%, 50% 50%); }

.loading-66 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 83.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 83.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 83.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 83.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 83.33333%, 50% 50%); }

.loading-67 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 79.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 79.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 79.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 79.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 79.16667%, 50% 50%); }

.loading-68 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 75%, 50% 50%); }

.loading-69 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 70.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 70.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 70.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 70.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 70.83333%, 50% 50%); }

.loading-70 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 66.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 66.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 66.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 66.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 66.66667%, 50% 50%); }

.loading-71 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 62.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 62.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 62.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 62.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 62.5%, 50% 50%); }

.loading-72 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 58.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 58.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 58.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 58.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 58.33333%, 50% 50%); }

.loading-73 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 54.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 54.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 54.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 54.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 54.16667%, 50% 50%); }

.loading-74 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 50% 50%); }

.loading-75 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 45.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 45.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 45.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 45.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 45.83333%, 50% 50%); }

.loading-76 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 41.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 41.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 41.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 41.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 41.66667%, 50% 50%); }

.loading-77 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 37.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 37.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 37.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 37.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 37.5%, 50% 50%); }

.loading-78 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 33.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 33.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 33.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 33.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 33.33333%, 50% 50%); }

.loading-79 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 29.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 29.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 29.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 29.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 29.16667%, 50% 50%); }

.loading-80 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 25%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 25%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 25%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 25%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 25%, 50% 50%); }

.loading-81 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 20.83333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 20.83333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 20.83333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 20.83333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 20.83333%, 50% 50%); }

.loading-82 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 16.66667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 16.66667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 16.66667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 16.66667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 16.66667%, 50% 50%); }

.loading-83 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 12.5%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 12.5%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 12.5%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 12.5%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 12.5%, 50% 50%); }

.loading-84 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 8.33333%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 8.33333%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 8.33333%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 8.33333%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 8.33333%, 50% 50%); }

.loading-85 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 4.16667%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 4.16667%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 4.16667%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 4.16667%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 4.16667%, 50% 50%); }

.loading-86 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0%, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0%, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0%, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0%, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0%, 50% 50%); }

.loading-87 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0% 0, 50% 50%); }

.loading-88 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 8.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 8.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 8.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 8.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 8.33333% 0, 50% 50%); }

.loading-89 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 16.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 16.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 16.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 16.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 16.66667% 0, 50% 50%); }

.loading-90 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 25% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 25% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 25% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 25% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 25% 0, 50% 50%); }

.loading-91 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 33.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 33.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 33.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 33.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 33.33333% 0, 50% 50%); }

.loading-92 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 41.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 41.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 41.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 41.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 41.66667% 0, 50% 50%); }

.loading-93 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0, 50% 50%); }

.loading-94 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 58.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 58.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 58.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 58.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 58.33333% 0, 50% 50%); }

.loading-95 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 66.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 66.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 66.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 66.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 66.66667% 0, 50% 50%); }

.loading-96 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 75% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 75% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 75% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 75% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 75% 0, 50% 50%); }

.loading-97 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 83.33333% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 83.33333% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 83.33333% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 83.33333% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 83.33333% 0, 50% 50%); }

.loading-98 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 91.66667% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 91.66667% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 91.66667% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 91.66667% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 91.66667% 0, 50% 50%); }

.loading-99 {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%);
  -moz-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%);
  -ms-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%);
  -o-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 100% 0, 50% 50%); }

/*# sourceMappingURL=loading.css.map */
