﻿@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/Elle Futura-Medium.eot");
  src: url("../fonts/Elle Futura-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Elle Futura-Medium.woff") format("woff"),
  url("../fonts/Elle Futura-Medium.ttf") format("truetype"),
  url("../fonts/Elle Futura-Medium.svg#Futura-Medium") format("svg");
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html {
  background: url(../Content/images/bg-home.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Helvetica', Arial;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.zoom {
  -webkit-transform: scale(0.5);
  -moz-transform:    scale(0.5);
  -ms-transform:     scale(0.5);
  -o-transform:      scale(0.5);
  transform: scale(0.5);
}
.container {
  position: relative;
}
.bg-play {
  width: 1920px;
}
.cosy,
.pie-left,
.girl-right {
  position: fixed;
  z-index: 1;
}
.cosy {
  text-align: center;
  zoom: 0.7;
  margin-top: 5%;
  position: relative;
  margin-bottom: 20px;
}
.cosy img {
  width: 40%;
}
.pie-left {
  left: -120px;
  bottom: -90px;
}
.girl-right {
  right: -182px;
  bottom: -193px;
  -webkit-transform: scale(0.5);
  -moz-transform:    scale(0.5);
  -ms-transform:     scale(0.5);
  -o-transform:      scale(0.5);
  transform: scale(0.5);
}
.bg-home {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.block-content {
  width: 450px;
  z-index: 10;
  /*color: #8d8277;*/
  color: #643C14;
  /*color: #BE744C;*/
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  zoom: 0.8;
}
.btn-discovery {
  display: block;
  position: absolute;
  bottom: -90px;
  left: 50%;
  margin-left: -150px;
  z-index: 100;
}
.block-content p {
  margin: 10px 0;
}
.block-loading {
  margin: 0 auto;
  margin-top: 5%;
  width: 250px;
  text-align: center;
  z-index: 100;
  font-family: 'Futura-Medium';
}
.number-load {
  color: #d20000;
  font-size: 37px;
  display: inline-block;
}

/*iPhone 5 & 5S in portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {

    .girl-right {
        right: -285px;
        bottom: -280px;
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    .zoom {
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    .pie-left {
        left: -166px;
        bottom: -123px;
    }

    .block-content {
        width: 450px;
        z-index: 10;
        color: #643C14;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
    }

    .btn-discovery {
        display: block;
        position: absolute;
        bottom: -110px;
        left: 50%;
        margin-left: -150px;
        z-index: 100;
    }
}

/*iPhone 5 & 5S in landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {

    .girl-right {
        right: -280px;
        bottom: -315px;
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    .zoom {
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    .pie-left {
        left: -166px;
        bottom: -123px;
    }

    .block-content {
        width: 450px;
        z-index: 10;
        color: #643C14;
        text-align: center;
        margin: 0 auto;
        font-size: 21px;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        zoom: 0.7;
    }

    .btn-discovery {
        display: block;
        position: absolute;
        bottom: -65px;
        left: 50%;
        margin-left: -150px;
        z-index: 100;
    }
}

/*ip6-landscape*/
@media only screen 
and (min-device-width : 569px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    .girl-right {
        right: -255px;
        bottom: -270px;
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    .zoom {
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    .pie-left {
        left: -166px;
        bottom: -123px;
    }

    .block-content {
        width: 450px;
        z-index: 10;
        color: #643C14;
        text-align: center;
        margin: 0 auto;
        font-size: 21px;
        -webkit-transform: scale(0.78);
        -moz-transform: scale(0.78);
        -ms-transform: scale(0.78);
        -o-transform: scale(0.78);
        transform: scale(0.78);
        zoom: 0.78;
    }

    .btn-discovery {
        display: block;
        position: absolute;
        bottom: -80px;
        left: 50%;
        margin-left: -150px;
        z-index: 100;
    }
}

/*ip6 plus-landscape*/
@media only screen 
and (min-device-width : 668px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    .girl-right {
        right: -255px;
        bottom: -270px;
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }

    .zoom {
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    .pie-left {
        left: -166px;
        bottom: -123px;
    }

    .block-content {
        width: 450px;
        z-index: 10;
        color: #643C14;
        text-align: center;
        margin: 0 auto;
        font-size: 21px;
        -webkit-transform: scale(0.78);
        -moz-transform: scale(0.78);
        -ms-transform: scale(0.78);
        -o-transform: scale(0.78);
        transform: scale(0.78);
        zoom: 0.78;
    }
}