﻿@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/Elle Futura-Medium.eot");
  src: url("../fonts/Elle Futura-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Elle Futura-Medium.woff") format("woff"),
  url("../fonts/Elle Futura-Medium.ttf") format("truetype"),
  url("../fonts/Elle Futura-Medium.svg#Futura-Medium") format("svg");
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html {
  background: url(../Content/images/bg-home.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Helvetica', Arial;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.zoom {
  -webkit-transform: scale(0.5);
  -moz-transform:    scale(0.5);
  -ms-transform:     scale(0.5);
  -o-transform:      scale(0.5);
  transform: scale(0.5);
}
.container {
  position: relative;
}
.bg-play {
  width: 1920px;
}
.cosy,
.pie-left,
.girl-right {
  position: fixed;
  z-index: 1;
}
.cosy {
  text-align: center;
  zoom: 0.7;
  margin-top: 5%;
  position: relative;
  margin-bottom: 20px;
}
.cosy img {
  width: 40%;
}
.pie-left {
  left: -120px;
  bottom: -90px;
}
.girl-right {
  right: -182px;
  bottom: -193px;
  -webkit-transform: scale(0.5);
  -moz-transform:    scale(0.5);
  -ms-transform:     scale(0.5);
  -o-transform:      scale(0.5);
  transform: scale(0.5);
}
.bg-home {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.block-content {
  width: 450px;
  z-index: 10;
  color: #fa551e;
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  zoom: 0.8;
}
.btn-discovery {
  display: block;
  position: absolute;
  bottom: -90px;
  left: 50%;
  margin-left: -150px;
  z-index: 100;
}
.block-content p {
  margin: 10px 0;
}
.block-loading {
  margin: 0 auto;
  margin-top: 5%;
  width: 250px;
  text-align: center;
  z-index: 100;
  font-family: 'Futura-Medium';
}
.number-load {
  color: #d20000;
  font-size: 37px;
  display: inline-block;
}
/*// play*/
.play {
  height: 1080px;
  width: 1920px;
  position: relative;
}
.btn-user,
.btn-choilai,
.btn-chiasefb {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  color: #fff;
  z-index: 100;
}
.btn-choilai,
.btn-chiasefb {
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 auto;
  width: 270px;
  height: 100px;
  display: inline-block;
}
.btn-choilai img {
  transform: translate(-110px);
}
.btn-chiasefb img {
  transform: translate(180px);
}
.block-video {
  margin: 0 auto;
  width: 1180px;
  height: 667px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 253px;
}
.block-video::before,
.block-video::after {
  content: "";
  background: url('../Content/images/bg-video-top.png') left top no-repeat;
  width: 430px;
  height: 50px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.block-video::before {
  background: url('../Content/images/bg-video.png') left top no-repeat;
  width: 85px;
  height: 96px;
  left: 0;
  top: auto;
  bottom: 0;
}
.btn-user {
  font-size: 32px;
  font-weight: bold;
  top: -60px;
  left: 90px;
  font-family: 'MyriadPro-Regular';
}
.btn-zoom {
  position: absolute;
  right: 10px;
  top: 10px;
}

.block-video-loading {
    margin: 0 auto;
    width: 560px;
    height: 315px;
    margin-top: 75px;
}

/*/ pie-load /*/
.pie-load .pie-load-top {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  animation-name: pie-load-top;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: translate(-20px);
}
@keyframes pie-load-top {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.pie-load .pie-load-left {
  float: left;
  margin-right: -20px;
  position: relative;
  z-index: 10;
}
.pie-load .pie-load-left,
.pie-load .pie-load-right {
  transform-origin: bottom right;
  animation-name: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.pie-load .pie-load-right {
  float: left;
  position: relative;
  z-index: 9;
  animation-name: load-right;
  transform-origin: bottom left;
}
@keyframes load-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*
  Thanh.Dang
  Fix version 1  
 */

.box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../Content/images/bg-play-6.jpg) no-repeat center bottom fixed;
  /*background-size:cover;*/
  /*zoom: 0.6;*/
  /*-webkit-transform: scale(0.6);
  -moz-transform:    scale(0.6);
  -ms-transform:     scale(0.6);
  -o-transform:      scale(0.6);
  transform: scale(0.6);*/
  /*-webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;*/
}

.box .img {
  max-width: 100%;
  max-height: 100%;
  /*-webkit-transform: scale(0.6);
  -moz-transform:    scale(0.6);
  -ms-transform:     scale(0.6);
  -o-transform:      scale(0.6);
  transform: scale(0.6);*/
}

.video {
  background-color: #fff;
  position: absolute;
  bottom: -36px;
  left: 50%;
  margin-left: -590px;
  width: 1180px;
  height: 664px;

  -webkit-transform: scale(0.601619);
  -moz-transform:    scale(0.601619);
  -ms-transform:     scale(0.601619);
  -o-transform:      scale(0.601619);
  transform: scale(0.601619);
}

.video::before {
  background: url(../Content/images/bg-video.png) left top no-repeat;
  width: 85px;
  height: 96px;
  left: 0;
  top: auto;
  bottom: 0;
  content: "";
  display: inline-block;
  position: absolute;
}

.video::after {
  content: "";
  background: url(../Content/images/cosy-logo.png) left top no-repeat;
  width: 544px;
  /*height: 388px;*/
  height: 390px;
  display: inline-block;
  position: absolute;
  left: -150px;
  top: -195px;
}

.btn-user,
.btn-play-again,
.btn-share-fb {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  color: #fff;
  z-index: 100;
  -webkit-transform: scale(0.6);
  -moz-transform:    scale(0.6);
  -ms-transform:     scale(0.6);
  -o-transform:      scale(0.6);
  transform: scale(0.6);
}
.btn-play-again,
.btn-share-fb {
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
  width: 270px;
  height: 100px;
  display: inline-block;
}
.btn-play-again img {
  transform: translate(-110px);
  -webkit-transform: translate(-110px);
  -moz-transform:    translate(-110px);
  -ms-transform:     translate(-110px);
  -o-transform:      translate(-110px);
}
.btn-share-fb img {
  transform: translate(180px);
  -webkit-transform: translate(180px);
  -moz-transform:    translate(180px);
  -ms-transform:     translate(180px);
  -o-transform:      translate(180px);
}

.hello-cosy {
  position: absolute;
  font-size: 28px;
  top: -70px;
  left: -50px;
  color: #fff;
  z-index: 100;
  font-family: 'MyriadPro-Regular';
}

.hello-cosy .bold {
  font-size: 32px;
  font-weight: bold;
}

/*Responsive*/
@media (min-width: 1200px) 
{
    .video {
      background-color: #fff;
      position: absolute;
      bottom: -36px;
      left: 50%;
      margin-left: -590px;
      width: 1180px;
      height: 664px;

      /*-webkit-transform: scale(0.601619);
      -moz-transform:    scale(0.601619);
      -ms-transform:     scale(0.601619);
      -o-transform:      scale(0.601619);
      transform: scale(0.601619);*/
    }
}