﻿<form name="detailForm" role="form" novalidate class="form-validation">
    <div ng-controller="PlayerDetailDetailCtrl as ctrl">
        <div class="row">
            <div class="col-md-12">
                <h3>Thông Tin Người Chơi</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-6">
                    <a href="{{ctrl.model.linkURL}}" target="_blank">
                        <img src="{{ctrl.model.imageURL}}"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Họ Tên</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ctrl.model.fullName}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ctrl.model.email}}</p>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Số ĐT</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ctrl.model.phoneNumber}}</p>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.model && ctrl.model.latestVideoUrl">
            <div class="col-md-12">
                <button class="btn btn-sm btn-primary" ng-click="ctrl.viewDetail()">Xem Video Mới Nhất</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Số lượt chơi</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ngày</th>
                        <th>Trạng Thái</th>
                        <th>% Hoàn Thành</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.model.playerGameResults">
                        <td>{{$index + 1}}</td>
                        <td>{{item.resultDate | date:'dd/MM/yyyy h:mma'}}</td>
                        <td>
                            <span class="label" ng-class="item.statusLabelClass">{{item.statusDescription}}</span>
                        </td>
                        <td>
                            <uib-progressbar style="height: 21px" class="progress-striped" value="item.percentComplete" type="success">{{item.percentComplete}}%</uib-progressbar>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default pull-right" ng-click="ctrl.cancel()">Quay về</button>
            </div>
        </div>
    </div>
</form>