﻿<div ng-controller="app.views.players.index as vm">
    <h1>Người Chơi</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-click="vm.toggleSearchPanel()"></div>
                <div class="panel-body" uib-collapse="vm.isSearchPanelCollapsed">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Tên</label>
                            <input type="text" ng-model="vm.searchParams.fullName"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Email</label>
                            <input type="text" ng-model="vm.searchParams.email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="vm.reset()" class="btn btn-default pull-right">
                                <i class="fa fa-find"></i> Reset
                            </button>
                            <button ng-click="vm.search()" class="btn btn-primary pull-right">
                                <i class="fa fa-find"></i> Tìm
                            </button>
                            <a class="btn btn-info pull-right" target="_blank" href="/GameReport">Export All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.model.resultSet">
                        <td>{{$index + 1}}</td>
                        <td>{{item.fullName}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <button class="btn btn-sm btn-primary" ng-click="vm.viewDetail(item)">Chi tiết</button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            Total result {{vm.model.resultCount}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <ul ng-if="vm.model.resultSet" uib-pagination total-items="vm.model.resultCount" ng-model="vm.searchParams.pageNumber" ng-change="vm.pageChanged()"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>