﻿@using Abp.Authorization.Users
<div>
    <form name="userChangePasswordForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Change User Password</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label>User Name</label>
                <div>
                    <p class="form-control-static">{{vm.user.userName}}</p>
                </div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" class="form-control" ng-model="vm.user.password" maxlength="@KinhDo.CosyAppAdmin.Users.User.MaxPlainPasswordLength">
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="Password" class="form-control" ng-model="vm.user.passwordConfirm" maxlength="@KinhDo.CosyAppAdmin.Users.User.MaxPlainPasswordLength">
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="userChangePasswordForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>