﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosy đếm điều ngọt ngào từ bạn</title>
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/Site.css?ts=@DateTime.Now.Ticks">
    @Scripts.Render("~/bundles/modernizr")
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-85974113-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '@ViewBag.FbAppId', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true, // parse XFBML
                version: 'v2.7'
            });

            function onLogin(response) {
                if (response.status === 'connected') {
                    console.log(response);
                    document.getElementById('hidAccessToken').value = response.authResponse.accessToken;
                    FB.api('/me?fields=id,name,email', function (data) {
                        document.getElementById('hidProfileId').value = data.id;
                        document.getElementById('hidName').value = data.name;
                        document.getElementById('hidEmail').value = data.email;
                    });
                }
            }

            FB.getLoginStatus(function(response) {
                // Check login status on load, and if the user is
                // already logged in, go directly to the welcome message.
                if (response.status === 'connected') {
                    onLogin(response);
                } else {
                    // Otherwise, show Login dialog first.
                    FB.login(function(response) {
                        onLogin(response);
                    }, { scope: 'email, user_friends, user_about_me, user_birthday, user_location, user_posts, user_likes, user_photos, user_videos, user_tagged_places' });
                }
            });
        };

        // Load the SDK Asynchronously
        (function(d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
    <input type="hidden" id="hidAccessToken" value="" />
    <input type="hidden" id="hidProfileId" value="" />
    <input type="hidden" id="hidName" value="" />
    <input type="hidden" id="hidEmail" value="" />
    @{
        <div class="container">
            <div id="cosy-image" class="cosy zoom">
                <img src="~/Content/images/cosy.png" alt="">
            </div>
            <img class="pie-left zoom" src="~/Content/images/pie-left.png" alt="">
            <img class="girl-right" src="~/Content/images/girl-right.png" alt="">
            <div id="blockText" class="block-content zoom">
                <p>
                    Khi bạn mỉm cười với thế giới, thế giới sẽ mỉm <br /> cười với bạn. Luôn suy nghĩ và hành động tích <br />cực đó mới là cuộc sống đích thực!
                </p>
                <p>
                    Hãy cùng CoSy khám phá xem cuộc đời của <br/> bạn tràn ngập và lan toả bao nhiêu niềm vui <br/> đến mọi người nhé!
                </p>
                <a id="linkStartGame" class="btn zoom" href="#">
                    <img src="~/Content/images/btn-khampha.png" alt="">
                </a>
            </div>
        </div>
    }
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        "user strict";

        function handleResizeByZoom() {
            var zoom_class = document.getElementsByClassName('zoom');
            var w = window.innerWidth;
            var h = window.innerHeight;
            //var zoomFactor = h >= 1080 ? w / 1920 : h / 1080;
            var zoomFactor = h / 1080;
            for (var i = 0; i < zoom_class.length; i++) {
                zoom_class[i].style.zoom = zoomFactor;
            }
            var blockText = document.getElementById('blockText');
            var cosyImg = document.getElementById('cosy-image');
            if (zoomFactor < 0.6) {
                blockText.style.zoom = 0.6;
                cosyImg.style.zoom = zoomFactor - 0.1;
            }

            //console.log(zoomFactor);
        }

        function handleResizeByTransform() {
            var zoom_class = document.getElementsByClassName('zoom');
            var h = window.innerHeight;
            var zoomFactor = h / 1080;
            for (var i = 0; i < zoom_class.length; i++) {
                zoom_class[i].style.transform = "scaleX(" + zoomFactor + ") scaleY(" + zoomFactor + ")";
            }
            var blockText = document.getElementById('blockText');
            var cosyImg = document.getElementById('cosy-image');
            if (zoomFactor < 0.6) {
                blockText.style.transform = "scaleX(0.6) scaleY(0.6)";
                var imgZoomFactor = zoomFactor - 0.1;
                cosyImg.style.transform = "scaleX(" + imgZoomFactor + ") scaleY(" + imgZoomFactor + ")";
            }
        }

        if (document.createElement("detect").style.zoom === "") {
            console.log('handleResizeByZoom');
            window.addEventListener("resize", handleResizeByZoom);
            handleResizeByZoom();
        } else {
            console.log('handleResizeByTransform');
            window.addEventListener("resize", handleResizeByTransform);
            handleResizeByTransform();
        }

        $(document)
            .ready(function() {
                $("#linkStartGame")
                    .click(function() {
                        //GA tracking
                        try {
                            ga('send', 'event', 'button', 'click', 'Nguoi choi game', 1);
                        } catch (gaErr) {
                            console.log(gaErr);
                        }

                        //FB Login
                        FB.login(function (response) {

                            if (response.status === 'connected') {

                                FB.api('/me?fields=id,name,email', function (data) {
                                    if (data && data.id) {
                                        window.location.href = '/Game/Index?at=' + response.authResponse.accessToken + '&id=' + data.id + '&n=' + data.name + '&em=' + data.email;
                                    }
                                });
                            }

                        }, { scope: 'email, user_friends, user_about_me, user_birthday, user_location, user_posts, user_likes, user_photos, user_videos, user_tagged_places' });
                    });

            });
    </script>
</body>
</html>